<div class="user-cards">
  <button (click)="createUser()" class="btn btn-success create-button">Create User</button>
  @for(user of users; track user.id){
  <div class="card" >
    <img [src]="source + user.imageUrl" alt="{{ user.fullName }}" class="card-img">
    <div class="card-body">
      <h5 class="card-title">{{ user.fullName }}</h5>
      <p class="card-text">Role: {{ user.role }}</p>
      <p class="card-text">Email: {{ user.email }}</p>
      <p class="card-text">Created: {{ user.createdDate | date:'mediumDate' }}</p>
    </div>
    <div class="card-buttons">
      <button (click)="updateUser(user)" class="btn btn-primary">Update</button>
      <button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
    </div>
  </div>
  }
</div>
