<h2 mat-dialog-title>{{ isNewUser ? 'Create User' : 'Edit User' }}</h2>
<mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Full Name</mat-label>
      <input matInput type="text" formControlName="fullName" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" [attr.required]="isNewUser">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Image</mat-label>
      <input matInput type="file" (change)="onFileSelected($event)" formControlName="imageUrl">
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button type="button" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</mat-dialog-content>
